In [1]:
from sklearn.feature_extraction.text import CountVectorizer

In [6]:
import pandas as pd
import re

# Load data

In [3]:
df_9_12m = pd.read_csv('df_9_12m.csv')

In [40]:
df_5t = pd.read_csv('df_5t.csv')

# Product name pattern
Toddler/Baby Girls'/Boys'/"none" "design" Dress/T-shirt/Romper/Bodysuit.. - Just One You® made by carter\'s

## Age group detection

In [7]:
def age_group_extract(df):
    y = re.search('^Baby', df['0_name'])
    if y == None:
        df['age_group'] = 'Toddler'
    else:
        df['age_group'] = 'Baby'
    return df

In [8]:
df_9_12m_group = df_9_12m.apply(age_group_extract, axis = 1)

In [9]:
df_9_12m_group

,Unnamed: 0,0_name,0_link,age_group
0,0,Baby Girls' Easter Dressy Striped Dot Lace Dre...,/p/baby-girls-easter-dressy-striped-dot-lace-d...,Baby
1,1,Baby Boys' Easter Dressy Chambray Sailboat Top...,/p/baby-boys-easter-dressy-chambray-sailboat-t...,Baby
2,2,Baby Boys' 2pc Stars Stripes Smiles Top and Bo...,/p/baby-boys-2pc-stars-stripes-smiles-top-and-...,Baby
3,3,Baby Boys' Striped Sunglass Top and Bottom Set...,/p/baby-boys-striped-sunglass-top-and-bottom-s...,Baby
4,4,Baby Boys' 2pc Whale Top and Bottom Set - Just...,/p/baby-boys-2pc-whale-top-and-bottom-set-just...,Baby
...,...,...,...,...
227,227,Toddler Boys' 2pk Rocket/Monster Footed Pajama...,/p/toddler-boys-2pk-rocket-monster-footed-paja...,Toddler
228,228,Toddler Boys' 4pc Monster Truck Pajama Set - J...,/p/toddler-boys-4pc-monster-truck-pajama-set-j...,Toddler
229,229,Baby Girls' Floral Top &amp; Bottom Set - Just...,/p/baby-girls-floral-top-bottom-set-just-one-y...,Baby
230,230,Baby Girls' Floral Butterfly Top &amp; Bottom ...,/p/baby-girls-floral-butterfly-top-bottom-set-...,Baby
231,231,Baby Girls' Giraffe Top &amp; Bottom Set - Jus...,/p/baby-girls-giraffe-top-bottom-set-just-one-...,Baby

# Using word vectorization for finding the common word

In [14]:
list_9_12m = df_9_12m_group['0_name'].tolist()

In [33]:
vectorizer = CountVectorizer(list_9_12m,max_df=0.30) #remove boys/girls/baby/carter's
X = vectorizer.fit_transform(list_9_12m)

In [34]:
print(vectorizer.get_feature_names())

['12m', '2pc', '2pk', '3pc', '3pk', '4pc', '4pk', '6pk', '9m', 'ahoy', 'alligator', 'amp', 'and', 'animal', 'ankle', 'aqua', 'basic', 'bear', 'bee', 'black', 'blue', 'bodysuit', 'bottom', 'brother', 'brown', 'bug', 'bunny', 'butterfly', 'cardigan', 'chambray', 'chenille', 'chicken', 'clementines', 'cloud', 'construction', 'converter', 'cookout', 'coral', 'cow', 'crab', 'creature', 'denim', 'dino', 'dinosaur', 'dot', 'dotted', 'dragon', 'dress', 'dresses', 'dressy', 'easter', 'elephant', 'firecracker', 'flaming', 'flamingo', 'floral', 'flowers', 'flutter', 'footed', 'gator', 'geo', 'gingham', 'giraffe', 'gold', 'grapefruit', 'gray', 'green', 'guard', 'happy', 'hat', 'hearts', 'heather', 'hedgehog', 'hooded', 'jumpsuit', 'khaki', 'knit', 'koala', 'lace', 'lady', 'lemon', 'lemons', 'lion', 'little', 'llama', 'long', 'love', 'mate', 'mermaid', 'mint', 'monster', 'navy', 'nightgown', 'olive', 'on', 'orange', 'oranges', 'owl', 'pajama', 'panda', 'pants', 'piece', 'pineapple', 'pink', 'pirate', 'plaid', 'play', 'pleated', 'pocket', 'poppy', 'popsicle', 'pram', 'princess', 'print', 'printed', 'pull', 'purple', 'rainbow', 'rash', 'raspberry', 'red', 'rescue', 'rhino', 'ride', 'rocket', 'romper', 'ruffle', 'safari', 'sage', 'sailboat', 'sea', 'seashore', 'shark', 'sheep', 'shirt', 'short', 'sister', 'skirtall', 'sleep', 'sleeve', 'sloth', 'smiles', 'snowsuit', 'socks', 'solid', 'speckled', 'stars', 'strawberry', 'striped', 'stripes', 'sun', 'sunglass', 'sunshine', 'sunsuit', 'swimsuit', 'terry', 'the', 'thermal', 'tide', 'tiger', 'toddler', 'top', 'tractor', 'tropical', 'truck', 'tulle', 'turtle', 'unicorn', 'watermelon', 'whale', 'whales', 'white', 'with', 'yellow']

In [35]:
len(vectorizer.get_feature_names())

174

In [38]:
count_vect_df = pd.DataFrame(X.todense(), columns=vectorizer.get_feature_names())

In [43]:
count_vect_df.drop(['12m', '2pc', '2pk', '3pc', '3pk', '4pc', '4pk', '6pk', '9m'], axis=1)

,ahoy,alligator,amp,and,animal,ankle,aqua,basic,bear,bee,...,truck,tulle,turtle,unicorn,watermelon,whale,whales,white,with,yellow
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
227,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
228,0,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
229,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
230,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
231,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [54]:
df_9_12m_group = df_9_12m_group.drop(['Unnamed: 0'], axis=1)

In [55]:
df_9_12m_word = df_9_12m_group.join(count_vect_df)

In [56]:
df_9_12m_word

,0_name,0_link,age_group,12m,2pc,2pk,3pc,3pk,4pc,4pk,...,truck,tulle,turtle,unicorn,watermelon,whale,whales,white,with,yellow
0,Baby Girls' Easter Dressy Striped Dot Lace Dre...,/p/baby-girls-easter-dressy-striped-dot-lace-d...,Baby,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,Baby Boys' Easter Dressy Chambray Sailboat Top...,/p/baby-boys-easter-dressy-chambray-sailboat-t...,Baby,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,Baby Boys' 2pc Stars Stripes Smiles Top and Bo...,/p/baby-boys-2pc-stars-stripes-smiles-top-and-...,Baby,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,Baby Boys' Striped Sunglass Top and Bottom Set...,/p/baby-boys-striped-sunglass-top-and-bottom-s...,Baby,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,Baby Boys' 2pc Whale Top and Bottom Set - Just...,/p/baby-boys-2pc-whale-top-and-bottom-set-just...,Baby,0,1,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
227,Toddler Boys' 2pk Rocket/Monster Footed Pajama...,/p/toddler-boys-2pk-rocket-monster-footed-paja...,Toddler,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
228,Toddler Boys' 4pc Monster Truck Pajama Set - J...,/p/toddler-boys-4pc-monster-truck-pajama-set-j...,Toddler,0,0,0,0,0,1,0,...,1,0,0,0,0,0,0,0,0,0
229,Baby Girls' Floral Top &amp; Bottom Set - Just...,/p/baby-girls-floral-top-bottom-set-just-one-y...,Baby,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
230,Baby Girls' Floral Butterfly Top &amp; Bottom ...,/p/baby-girls-floral-butterfly-top-bottom-set-...,Baby,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
231,Baby Girls' Giraffe Top &amp; Bottom Set - Jus...,/p/baby-girls-giraffe-top-bottom-set-just-one-...,Baby,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [41]:
list_5t = df_5t['0_name'].tolist()

In [44]:
Y = vectorizer.transform(list_5t)

In [45]:
count_5t_df = pd.DataFrame(Y.todense(), columns=vectorizer.get_feature_names())

In [47]:
count_5t_df.drop(['12m', '2pc', '2pk', '3pc', '3pk', '4pc', '4pk', '6pk', '9m'], axis=1)

,ahoy,alligator,amp,and,animal,ankle,aqua,basic,bear,bee,...,truck,tulle,turtle,unicorn,watermelon,whale,whales,white,with,yellow
0,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
3,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
112,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
113,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
114,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
115,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
116,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [58]:
df_5t = df_5t.drop(['Unnamed: 0'], axis=1)

In [59]:
df_5t_word = df_5t.join(count_5t_df)

# Search the common word in 5t and 9-12m

In [61]:
df_5t_and_9_12m = pd.concat([df_5t_word, df_9_12m_word])

/Users/tomokrmr/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  """Entry point for launching an IPython kernel.

In [64]:
df_5t_and_9_12m = df_5t_and_9_12m.drop(['12m', '2pc', '2pk', '3pc', '3pk', '4pc', '4pk', '6pk', '9m'], axis=1)

In [65]:
df_5t_and_9_12m.sum(axis=0)

0_link       /p/toddler-boys-3pc-dressy-plaid-top-bottom-se...
0_name       Toddler Boys' 3pc Dressy Plaid Top &amp; Botto...
ahoy                                                         2
alligator                                                    9
amp                                                         66
                                   ...
whale                                                       16
whales                                                       2
white                                                       43
with                                                        11
yellow                                                      28
Length: 167, dtype: object